@import 'chrome://dia/skin/toolbarbuttons/buttons.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#notification-popup-box[anchorid="downitall-notification-icon"] > #downitall-notification-icon {
 display: -moz-box;
}
#downitall-notification-icon {
 list-style-image: url(chrome://dia/skin/toolbarbuttons/buttons16.png);
 -moz-image-region: rect(0px,64px,16px,48px);
}

.popup-notification-icon[popupid="downitall"] {
 list-style-image: url(chrome://diaicon/content/icon64.png);
}

/* menus */
.dia-menuitem {
 list-style-image: url(chrome://dia/skin/toolbarbuttons/buttons16.png);
}
.dia-normal {
 -moz-image-region: rect(0px,32px,16px,16px);
}
.dia-turbo {
 -moz-image-region: rect(0px,64px,16px,48px);
}
.dia-manager {
 -moz-image-region: rect(0px,112px,16px,96px);
}
.dia-prefs {
 -moz-image-region: rect(0px,128px,16px,112px);
}
.dia-about {
 -moz-image-region: rect(0px,144px,16px,128px);
}

.main-window #dia-manager-button image,
.main-window #dia-turbo-button image,
.main-window #dia-button image {
 padding-top: 2px;
 padding-bottom: 3px;
}

@media (min-resolution: 2dppx) {
 .dia-menuitem {
  list-style-image: url(chrome://dia/skin/toolbarbuttons/buttons32.png);
 }
 .dia-normal {
  -moz-image-region: rect(0px,64px,32px,32px);
 }
 .dia-turbo {
  -moz-image-region: rect(0px,128px,32px,96px);
 }
 .dia-manager {
  -moz-image-region: rect(0px,224px,32px,192px);
 }
 .dia-prefs {
  -moz-image-region: rect(0px,256px,32px,224px);
 }
 .dia-about {
  -moz-image-region: rect(0px,288px,32px,256px);
 }
}
