@import 'chrome://global/skin/';
@import 'chrome://dia/skin/common/style.css';
@import 'chrome://dia-platform/skin/common.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

grid {
 margin-bottom: 1em;
}
row {
 padding: 1ex;
}

checkbox {
 font-weight: bold;
}

description {
 max-width: 30em;
}

.icon {
 list-style-image: url(../toolbarbuttons/buttons24.png);
 margin: 1em;
}

#dia-icon {
 -moz-image-region: rect(0px,48px,24px,24px);
}
#dia-turbo-icon {
 -moz-image-region: rect(0px,96px,24px,72px);
}
#dia-turboselect-icon {
 -moz-image-region: rect(0px,144px,24px,120px);
}
#dia-manager-icon {
 -moz-image-region: rect(0px,168px,24px,144px);
}
