@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.dia-toolbarbutton {
 list-style-image: url(buttons16.png) !important;
}

toolbar[iconsize="large"] .dia-toolbarbutton {
 list-style-image: url(buttons24.png) !important;
}

.dia-toolbarbutton[cui-areatype="menu-panel"],
#customization-container .dia-toolbarbutton {
 list-style-image: url(buttons32.png) !important;
}

#dia-button {
 -moz-image-region: rect(0px,32px,16px,16px);
}
#dia-button:hover {
 -moz-image-region: rect(0px,16px,16px,0px);
}
toolbar[iconsize="large"] #dia-button {
 -moz-image-region: rect(0px,48px,24px,24px);
}
toolbar[iconsize="large"] #dia-button:hover {
 -moz-image-region: rect(0px,24px,24px,0px);
}
#dia-button[cui-areatype="menu-panel"],
#customization-container #dia-button,
#customization-container #dia-button:hover {
 -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
 -moz-box-align: center;
 -moz-box-orient: vertical !important;
 -moz-image-region: rect(0px,64px,32px,32px);
}
#dia-button[cui-areatype="menu-panel"]:hover {
 -moz-image-region: rect(0px,32px,32px,0px);
}

#dia-turbo-button {
 -moz-image-region: rect(0px,64px,16px,48px);
}
#dia-turbo-button:hover {
 -moz-image-region: rect(0px,48px,16px,32px);
}
toolbar[iconsize="large"] #dia-turbo-button {
 -moz-image-region: rect(0px,96px,24px,72px);
}
toolbar[iconsize="large"] #dia-turbo-button:hover {
 -moz-image-region: rect(0px,72px,24px,48px);
}
#dia-turbo-button[cui-areatype="menu-panel"],
#customization-container #dia-turbo-button,
#customization-container #dia-turbo-button:hover {
 -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
 -moz-box-align: center;
 -moz-box-orient: vertical !important;
 -moz-image-region: rect(0px,128px,32px,96px);
}
#dia-turbo-button[cui-areatype="menu-panel"]:hover {
 -moz-image-region: rect(0px,96px,32px,64px);
}

#dia-turboselect-button {
 -moz-image-region: rect(0px,96px,16px,80px);
}
#dia-turboselect-button:hover {
 -moz-image-region: rect(0px,80px,16px,64px);
}
toolbar[iconsize="large"] #dia-turboselect-button {
 -moz-image-region: rect(0px,144px,24px,120px);
}
toolbar[iconsize="large"] #dia-turboselect-button:hover {
 -moz-image-region: rect(0px,120px,24px,96px);
}
#dia-turboselect-button[cui-areatype="menu-panel"],
#customization-container #dia-turboselect-button,
#customization-container #dia-turboselect-button:hover {
 -moz-image-region: rect(0px,192px,32px,160px);
}
#dia-turboselect-button[cui-areatype="menu-panel"]:hover {
 -moz-image-region: rect(0px,160px,32px,128px);
}

#dia-manager-button {
 -moz-image-region: rect(0px, 112px, 16px, 96px);
}
toolbar[iconsize="large"] #dia-manager-button {
 -moz-image-region: rect(0px,168px,24px,144px);
}
#dia-manager-button[cui-areatype="menu-panel"],
#customization-container #dia-manager-button {
 -moz-image-region: rect(0px, 224px,32px,192px);
}

@media (min-resolution: 2dppx) {
 .dia-toolbarbutton {
  list-style-image: url(buttons32.png)  !important;
 }
 .dia-toolbarbutton .toolbarbutton-icon {
  width: 16px;
 }
 toolbar[iconsize="large"] .dia-toolbarbutton {
  list-style-image: url(buttons24.png)  !important;
 }
 toolbar[iconsize="large"] .dia-toolbarbutton .toolbarbutton-icon {
  width: 24px;
 }
 .dia-toolbarbutton[cui-areatype="menu-panel"],
 #customization-container .dia-toolbarbutton {
  list-style-image: url(buttons64.png) !important;
 }
 .dia-toolbarbutton[cui-areatype="menu-panel"] .toolbarbutton-icon,
 #customization-container .dia-toolbarbutton .toolbarbutton-icon {
 width: 32px;
 }

 #dia-button {
  -moz-image-region: rect(0px,64px,32px,32px);
 }
 #dia-button:hover {
  -moz-image-region: rect(0px,32px,32px,0px);
 }
 toolbar[iconsize="large"] #dia-button {
  -moz-image-region: rect(0px,48px,24px,24px);
 }
 toolbar[iconsize="large"] #dia-button:hover {
  -moz-image-region: rect(0px,24px,24px,0px);
 }
 #dia-button[cui-areatype="menu-panel"],
 #customization-container #dia-button,
 #customization-container #dia-button:hover {
  -moz-image-region: rect(0px,128px,64px,64px);
 }
 #dia-button[cui-areatype="menu-panel"]:hover {
  -moz-image-region: rect(0px,64px,64px,0px);
 }

 #dia-turbo-button {
  -moz-image-region: rect(0px,128px,32px,96px);
 }
 #dia-turbo-button:hover {
  -moz-image-region: rect(0px,96px,32px,64px);
 }
 toolbar[iconsize="large"] #dia-turbo-button {
  -moz-image-region: rect(0px,96px,24px,72px);
 }
 toolbar[iconsize="large"] #dia-turbo-button:hover {
  -moz-image-region: rect(0px,72px,24px,48px);
 }
 #dia-turbo-button[cui-areatype="menu-panel"],
 #customization-container #dia-turbo-button,
 #customization-container #dia-turbo-button:hover {
  -moz-image-region: rect(0px,256px,64px,192px);
 }
 #dia-turbo-button[cui-areatype="menu-panel"]:hover {
  -moz-image-region: rect(0px,192px,64px,128px);
 }

 #dia-turboselect-button {
  -moz-image-region: rect(0px,192px,32px,160px);
 }
 #dia-turboselect-button:hover {
  -moz-image-region: rect(0px,160px,32px,128px);
 }
 toolbar[iconsize="large"] #dia-turboselect-button {
  -moz-image-region: rect(0px,144px,24px,120px);
 }
 toolbar[iconsize="large"] #dia-turboselect-button:hover {
  -moz-image-region: rect(0px,120px,24px,96px);
 }
 #dia-turboselect-button[cui-areatype="menu-panel"],
 #customization-container #dia-turboselect-button,
 #customization-container #dia-turboselect-button:hover {
  -moz-image-region: rect(0px,384px,64px,320px);
 }
 #dia-turboselect-button[cui-areatype="menu-panel"]:hover {
  -moz-image-region: rect(0px,320px,64px,256px);
 }

 #dia-manager-button {
  -moz-image-region: rect(0px,224px,32px,192px);
 }
 toolbar[iconsize="large"] #dia-manager-button {
  -moz-image-region: rect(0px,168px,24px,144px);
 }
 #dia-manager-button[cui-areatype="menu-panel"],
 #customization-container #dia-manager-button {
  -moz-image-region: rect(0px,448px,64px,384px);
 }
}
